body {
  margin: 0px;
  padding: 0px 8px;
  background-color: white;
  word-break: break-all;
}

a {
  color: $color-text-link;
  &:visited {
    color: purple;
  }
  &:hover {
    color: red;
    text-decoration: underline;
  }
}

h1 {
  margin: 22px 0px;
}

#form {
  display: none;
}

.thread-title {
  color: red;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.error-title {
  color: red;
}
.error {
  padding: 15px;
  margin-bottom: 20px;
  @include border-radius(4px);
  background-color: #ff9999;
}