@charset "UTF-8";
h1, h2, h3, h4, h5, h6, div, span, table, tbody, tr, td, ul, ol, li {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px 8px;
  background-color: white;
  word-break: break-all;
}

a {
  color: #0044cc;
}
a:visited {
  color: purple;
}
a:hover {
  color: red;
  text-decoration: underline;
}

h1 {
  margin: 22px 0px;
}

#form {
  display: none;
}

#advanced-settings {
  display: none;
}

.thread-title {
  color: red;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.error-title {
  color: red;
}

.error {
  padding: 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-color: #ebccd1;
  background-color: #ff7777;
}

/*
via
あらゆる環境でアスキーアートを快適に閲覧出来るCSSはコレ！ | b4log
http://b4t.jp/823
*/
.message {
  font-size: 12pt;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
}

/* Opera */
.message {
  font-family: "IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","MS Pｺﾞｼｯｸ","MS PGothic",sans-serif;
}

/* firefox */
:-moz-read-only .message {
  font-family: Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,sans-serif;
}

/* safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .message {
    font-family: "MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック",IPAMonaPGothic,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",Mona,sans-serif;
  }
}
/* IE */
.message {
  _font-family: Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
}

*:first-child + html .message {
  font-family: Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
}

.navigation {
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
.navigation ul {
  margin: 12px;
  padding: 0px;
}
.navigation ul li {
  list-style: none;
  float: left;
  margin: 0px 16px 4px 0px;
}

.custom-search {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 240px;
}

.thread-list {
  overflow: hidden;
  *zoom: 1;
}
.thread-list ol {
  float: left;
  background-color: #ccffcc;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.thread-list ol li {
  list-style: none;
  float: left;
  margin: 2px 8px;
}
.thread-list ol li a {
  font-weight: bold;
}

.board-list {
  overflow: hidden;
  *zoom: 1;
}
.board-list ol {
  background-color: #ccffcc;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
.board-list ol li {
  list-style: none;
  margin: 2px 8px;
}
.board-list ol li a {
  font-weight: bold;
}

dl {
  clear: both;
}

dt {
  float: left;
  clear: both;
}

dd {
  margin: 0;
}

.response,
.template {
  min-width: 476px;
  max-width: 960px;
  margin: 8px 0;
}

.res-content {
  display: table;
  vertical-align: middle;
}

.char-icon-cell,
.balloon-cell,
.message-cell {
  display: table-cell;
  vertical-align: middle;
}

.char-icon {
  display: table-cell;
  background-repeat: no-repeat;
}

.balloon-frame {
  display: block;
  overflow: hidden;
  height: 48px;
  width: 16px;
}

.balloon {
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom: 16px solid #ffff96;
}

.handle {
  color: #00cc00;
  font-weight: bold;
}

.datetime,
.hash {
  color: black;
}

.message {
  display: table-cell;
  min-width: 360px;
  max-width: 844px;
  margin: 0px;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #ffff96;
}
.message .res_anchor {
  text-decoration: none;
}
.message .res_anchor:hover {
  text-decoration: underline;
}

.template .message {
  min-width: 476px;
  max-width: 960px;
}

.deleted .message {
  background-color: #949494;
}

.deleted .balloon {
  border-bottom: 16px solid #949494;
}

.gae-banner {
  position: absolute;
  right: 4px;
}
