.navigation {
  clear: both;
  ul {
    margin: 12px;
    padding: 0px;
    li {
      list-style: none;
      float: left;
      margin: 0px 16px 4px 0px;
    }
  }
  @include clearfix;
}

.custom-search {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 240px;
}